@{
    ViewData["Title"] = "Victoria Ballesteros";
}

<div class="h-screen w-screen flex flex-col items-center">
    <div class="absolute bg-dark-gray h-3/5 w-8/12 rounded-full flex-col items-center">
        <div class="bg-dark-gray h-full w-full rounded-xl animate-float">
            <div class="h-auto flex justify-between px-6 pt-4 z-10">
                <div class="bg-black-background rounded-t-md flex gap-16 justify-between items-center px-4 pt-3 lg:gap-24">
                    <p class="font-sans text-white font-bold">Home</p>
                    <div>
                        <img src="~/icons/close-window.svg"
                            class="h-6 dark:invert dark:brightness-0 dark:contrast-200" />
                    </div>
                </div>
                <div class="flex gap-2">
                    <div class="bg-red-ball rounded-full h-3 w-3"></div>
                    <div class="bg-yellow-ball rounded-full h-3 w-3"></div>
                    <div class="bg-green-ball rounded-full h-3 w-3"></div>
                </div>
            </div>
            <div class="h-full bg-black-background rounded-b-xl px-6 pt-0 flex">
                <div class="typing-container flex">
                    <p id="typing-effect" class="font-sans text-white text-md">
                    </p>
                    <span class="cursor"></span> 
                </div>
            </div>
        </div>
        <div class="absolute custom-shadow w-full h-1/5 -bottom-40 z-0"></div>
    </div>
</div>
